<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html lang="pt-BR" xml:lang="pt-BR" xmlns="http://www.w3.org/1999/xhtml">

	<head>
		<title>Knowledge Quest Adventures - Piercing the Veil of Ignorance</title>
		<!-- JS -->
		<?php echo $GLOBALS['general_js']; ?>
		<?php echo $GLOBALS['this_js']; ?>
		<!-- CSS -->
		<?php echo $GLOBALS['general_css']; ?>
		<?php echo $GLOBALS['this_css']; ?>
	</head>

	<body>
		<input type="hidden" name="id_monster" id="id_monster" value="" />
		<input type="hidden" name="monster_treasure" id="monster_treasure" value="" />
		<input type="hidden" name="id_answer" id="id_answer" value="" />
		<input type="hidden" name="id_question" id="id_question" value="" />
		<input type="hidden" name="time_limit" id="time_limit" value="" />
		<input type="hidden" name="turn" id="turn" value="" />
		<input type="hidden" name="correct" id="correct" value="" />
		<div class="box_player">
			Your hit points? <input type="text" name="player_hp" id="player_hp" value="" size="32" /><br />
			What is your damage? <input type="text" name="player_min_dmg" id="player_min_dmg" value="" size="5" /> - <input type="text" name="player_max_dmg" id="player_max_dmg" value="" size="5" /><br />
			ME: <input type="text" name="player_me" id="player_me" value="" size="5" /><br />
			DS: <input type="text" name="player_ds" id="player_ds" value="" size="5" /><br />
			<br />
			Your Treasure <input type="text" name="tot_treasure" id="tot_treasure" value="0" size="5" disabled="disabled" /> gold<br />
			Your XP <input type="text" name="tot_xp" id="tot_xp" value="0" size="5" disabled="disabled" /><br />
			<br />
			Branch: <select name="id_branch" id="id_branch">
				<?php echo $branches; ?>
			</select>
			<br />
			Field: <select name="id_field" id="id_field">
			</select>
			<br />
			Course: <select name="id_course" id="id_course">
			</select>
			<br /><br />
			Select your monster:
			<div id="monster_list">
			</div>
		</div>
		<div class="box_select_monster">
			Monster HP: <input type="text" name="monster_hp" id="monster_hp" value="" /><br />
			Monster damage: <input type="text" name="monster_min_dmg" id="monster_min_dmg" value="" size="5" /> - <input type="text" name="monster_max_dmg" id="monster_max_dmg" value="" size="5" /><br />
			ME: <input type="text" name="monster_me" id="monster_me" value="" size="5" /><br />
			DS: <input type="text" name="monster_ds" id="monster_ds" value="" size="5" /><br />
			<br />
			knowledge base (%): <input type="text" name="monster_knowledge" id="monster_knowledge" value="" size="5" /><br />
		</div>

		<div class="box_run_round" id="box_run_round">GO</div>

		<div class="box_counter" id="box_counter">
		</div>
		<div class="box_question" id="box_question">
		</div>
		<div class="box_answers" id="box_answers">
		</div>
		<div class="box_rightanswer" id="box_rightanswer">
		</div>

		<div class="user_hit not_shown" id="user_hit">You hit</div>
		<div class="user_missed not_shown" id="user_missed">You missed</div>
		<div class="monster_hit not_shown" id="monster_hit">Monster hit</div>
		<div class="user_missed not_shown" id="monster_missed">Monster missed</div>
	</body>

</html>