<!DOCTYPE html>
<html>
	<header>
		<title>The Game Master</title>
		<!-- JS -->
		<?php echo $GLOBALS['general_js']; ?>
		<?php echo $GLOBALS['this_js']; ?>
		<!-- CSS -->
		<?php echo $GLOBALS['general_css']; ?>
		<?php echo $GLOBALS['this_css']; ?>
	</header>
	<body class="body" topmargin="0" bottommargin="0" leftmargin="0" rightmargin="0">
		<div class="container">
			<div class="main_menu">
			<?php \SaSeed\View::render("partial_mainMenu"); ?>
			</div>
			<br /><br /><br /><br /><br /><br /><br />
			<div class="content_map">
				<span class="title_01" id="main_title">Edit Map</span>
				<br />
				<div class="formInsertCourse" id="formInsertCourse">
					<div style="float: left;">
						<fieldset style="width: 500px;">
							<form class="form">
								<input type="hidden" name="id_world" id="id_world" value="<?php echo $id_world; ?>" />
								<input type="hidden" name="id_field" id="id_field" value="<?php echo $id_field; ?>" />
								<input type="hidden" name="id_areamap" id="id_areamap" value="<?php echo $id_areamap; ?>" />
								<input type="hidden" name="id_areatype" id="id_areatype" value="<?php echo $id_areatype; ?>" />
								<input type="hidden" name="id_tiletype" id="id_tiletype" value="<?php echo $id_tiletype; ?>" />
								<input type="hidden" name="level" id="level" value="<?php echo $int_level; ?>" />
								<input type="hidden" name="parent_id_areamap" id="parent_id_areamap" value="<?php echo $parent_id_areamap; ?>" />
								<input type="hidden" name="target_tile_id" id="target_tile_id" value="" />
								<label for="id_tiletype">Background Type:</label>
								<select name="encounter_id_tiletype" id="encounter_id_tiletype" class="main_text_input" style="width: 206px;">
									<?php echo $tiletypes; ?>
								</select>
								<br />
								<label for="level">Area's name:</label>
								<input type="text" name="vc_name" id="vc_name" class="main_text_input" value="<?php echo $mapname; ?>" />
							</form>
						</fieldset>
						<div class="title_01 map_name" id="map_name"><?php echo '#'.$vc_id_areamap.' - '.$mapname; ?></div>
						<div class="back_button"><a href="<?php echo $back_link; ?>"><img src="/gamemaster/Application/View/img/bt_back.png" width="41" height="41" alt="" title="" /></a></div>
						<div class="map_area" id="map_area">
							<?php echo $map; ?>
						</div>
						<div class="text_01 delete_map">
							<img src="/gamemaster/Application/View/img/bt_trashcan.png" width="15" height="15" alt="" title="" />
							Delete this map
						</div>
					</div>
					<div class="map_interaction not_shown" id="map_interaction" align="center">
						<span class="title_01">What do you wanna do?</span>
						<br /><br /><br />
						<div class="tile_options" id="tile_options">
							<div class="text_01 tile_opt" key="listIcons" id="linkmap" target="">Go to this location</div><br /><br />
							<div class="text_01 tile_opt" key="linkTile">Link this to map</div><br /><br />
							<div class="text_01 tile_opt" key="changeBkgTileDungeon">Background tile</div><br /><br />
							<div class="text_01 tile_opt" key="changeDtlTileDungeon">Detail tile</div><br /><br />
							<div class="text_01 tile_opt" key="delete_tileinfo">Delete all info related (but background)</div><br /><br />
						</div>
						<div class="opt_details" id="linkTile">
							<span class="title_01">Link to:</span><br /><br />
							<div class="text_01 link_opt newDungeon" key="newDungeon">Another floor</div><br /><br />
							<div class="text_01 link_opt" key="linkTile">Map ID: # <input type="text" name="id_target_map" id="id_target_map" class="sec_tiny_text_input" /></div><br /><br />
						</div>
						<div class="opt_details" id="changeBkgTileDungeon">
							<?php echo $tiles; ?>
						</div>
						<div class="opt_details" id="changeDtlTileDungeon">
							<?php echo $detail_tiles; ?>
						</div>
						<div class="opt_details" id="delete_tileinfo">
							delete
						</div>
						<div class="form_buttons" id="form_buttons">
							<div class="bt_ok update_map">
								<img class="form_button" src="/gamemaster/Application/View/img/bt_ok.png" width="41" height="41" border="0" /><br />
								<span class="text_02">SAVE</span>
							</div>
						</div>
						<br />
					</div>
				</div>
			</div>
		</div>
	</body>
</html>