<!DOCTYPE html>
<html>
	<header>
		<title>The Game Master</title>
		<!-- JS -->
		<?php echo $GLOBALS['general_js']; ?>
		<?php echo $GLOBALS['this_js']; ?>
		<!-- CSS -->
		<?php echo $GLOBALS['general_css']; ?>
		<?php echo $GLOBALS['this_css']; ?>
	</header>
	<body class="body" topmargin="0" bottommargin="0" leftmargin="0" rightmargin="0">
		<div class="container">
			<div class="main_menu">
			<?php \SaSeed\View::render("partial_mainMenu"); ?>
			</div>
			<br /><br /><br /><br /><br /><br /><br />
			<div class="content_map">
				<span class="title_01" id="main_title">New Map</span>
				<br />
				<div class="formInsertCourse" id="formInsertCourse">
					<div style="float: left;">
						<fieldset style="width: 500px;">
							<form class="form">
								<input type="hidden" name="world_pos" id="world_pos" value="" />
								<input type="hidden" name="action" id="action" value="" />
								<input type="hidden" name="id_areamap" id="id_areamap" value="<?php echo $id_areamap; ?>" />
								<input type="hidden" name="id_areatype" id="id_areatype" value="1" /> <!-- 1 = Local Map -->
								<input type="hidden" name="target_tile_id" id="target_tile_id" value="" />
								<input type="hidden" name="selected_tile" id="selected_tile" value="" />
								<input type="hidden" name="id_world" id="id_world" value="<?php echo $id_world; ?>" />
								<!--label for="id_world">World:</label>
								<select name="id_world" id="id_world" class="main_text_input" style="width: 206px;">
									<?php //echo $worlds; ?>
								</select -->
								<div id="tiletype" class="not_shown">
									<label for="id_tiletype">Background Type:</label>
									<select name="id_tiletype" id="id_tiletype" class="main_text_input" style="width: 206px;">
										<?php echo $tiletypes; ?>
									</select>
								</div>
								<div id="branch_field" class="not_shown">
									<label for="id_branch">Select Branch:</label>
									<select name="id_branch" id="id_branch" class="main_text_input" style="width: 206px;">
										<?php echo $branches; ?>
									</select>
									<label for="id_field">Field:</label>
									<select name="id_field" id="id_field" class="main_text_input" style="width: 206px;">
									</select>
									<label for="level">Level:</label>
									<input type="text" name="level" id="level" class="main_text_input" />
									<label for="vc_name">Map's name:</label>
									<input type="text" name="vc_name" id="vc_name" class="main_text_input" maxlength="45" />
									<label for="vc_mouseover">Mouse over text:</label>
									<input type="text" name="vc_mouseover" id="vc_mouseover" class="main_text_input" />
									</select>
								</div>
							</form>
						</fieldset>
						<br />
						<div class="title_01 map_name" id="map_name"><?php echo '#'.$vc_id_areamap.' - '.$mapname; ?></div>
						<div class="map_name_edit not_shown" id="map_name_edit"><label for="map_name_input">Map's name:</label><input type="text" name="map_name_input" id="map_name_input" class="main_text_input" value="<?php echo $mapname; ?>" /></div>
						<div class="map_area" id="map_area">
							<?php echo $world; ?>
						</div>
					</div>
					<div class="map_interaction not_shown" id="map_interaction" align="center">
						<span class="title_01">What do you wanna do?</span>
						<br /><br /><br />
						<div class="tile_options" id="tile_options">
							<div class="text_01 tile_opt" key="listIcons">Insert an icon</div><br /><br />
							<div class="text_01 tile_opt" key="changeTile">Background tile</div><br /><br />
							<div class="text_01 tile_opt" key="changeDtlTile">Detail tile</div><br /><br />
							<!-- div class="text_01 tile_opt" key="delete_tileinfo">Delete all info related (but background)</div><br /><br / -->
						</div>
						<div class="opt_details" id="listIcons">
						</div>
						<div class="opt_details" id="linkTile">
							<span class="title_01">Link to:</span><br /><br />
							<div class="text_01 link_opt newDungeon" key="newDungeon">a New Dungeon</div><br /><br />
							<div class="text_01 link_opt" key="linkTile">Map ID: # <input type="text" name="id_target_map" id="id_target_map" class="sec_tiny_text_input" /></div><br /><br />
						</div>
						<div class="opt_details" id="changeTile">
							change bkg
						</div>
						<div class="opt_details" id="changeDtlTile">
							change detail
						</div>
						<div class="opt_details" id="delete_tileinfo">
							delete
						</div>
						<div class="form_buttons" id="form_buttons">
							<div class="bt_ok save_map">
								<img class="form_button" src="/gamemaster/Application/View/img/bt_ok.png" width="41" height="41" border="0" /><br />
								<span class="text_02">SAVE</span>
							</div>
						</div>
						<br />
					</div>
				</div>
			</div>
		</div>
	</body>
</html>