.formInsertCourse {
	width:			400px;
	position:		absolute;
	margin-left:	100px;
}

.bt_cancel {
	float:	left;
}

.bt_cancel_detail {
	float:	left;
}

.new_combatitem {
	float:	right;
}

.new_noncombatitem {
	float:	right;
}

.form_buttons {
	margin-left:	230px;
	margin-top:		20px;
	width:			110px;
}

.result_id {
	width:		50px;
	text-align:	center;
}

.result_item {
	width:		100px;
	text-align:	left;
}

.result_idfield {
	width:		180px;
	text-align:	left;
}

.result_name {
	width:		300px;
	text-align:	left;
}

.delete_combatItem {
	position:		absolute;
	float:			left;
	margin-top:		200px;
	margin-left:	90px;
	color: 			#FB6F6F;
	font-family:	Arial, Helvetica, sans-serif;
	font-size:		12px;
}

.delete_combatItem:hover {
	cursor:	pointer;
}

.delete_nonCombatItem {
	position:		absolute;
	float:			left;
	margin-top:		200px;
	margin-left:	90px;
	color: 			#FB6F6F;
	font-family:	Arial, Helvetica, sans-serif;
	font-size:		12px;
}

.delete_nonCombatItem:hover {
	cursor:	pointer;
}

.content_details {
	width:		700px;
	position:	absolute;
	margin-top:	12px;
	text-align:	center;
}