.formInsertCourse {
	width:			400px;
	position:		absolute;
}

.bt_cancel {
	float:	left;
}

.bt_ok {
	float:	right;
}

.form_buttons {
	margin-left:	230px;
	margin-top:		20px;
	width:			110px;
}

.not_shown {
	display:	none;
}

.map_area {
	margin-top:		130px;
	margin-left:	150px;
}

.map_row {
	width:				382px;
	height:				35px;
}

.map_tile {
	width:			35px;
	height:			35px;
	border-width:	1px;
}

.map_tile:hover {
	cursor:	pointer;
}

.content_map {
	width:		850px;
	position:	absolute;
	margin-top:	5px;
}

.map_interaction {
	position:			absolute;
	background-color:	#666;
	margin-left:		520px;
	margin-top:			0px;
	width:				400px;
	text-align:			center;
}

.local_map_tile {
	float:		 	left;
	margin:	0.5px;
}

.tile_options {
	width:		250px;
	text-align:	left;
	margin-left:	50px;
}

.tile_opt:hover {
	cursor:				pointer;
	text-decoration:	underline;
}
.opt_details {
	display:	none;
}

.result_id {
	width:	40px;
}

.result_iconname {
	width:	200px;
}

.result_icon {
	width:	30px;
}

.newDungeon:hover {
	cursor: 			pointer;
	text-decoration:	underline;
}